#projects {
    width: 70%;
    padding: 5rem 3rem;
    margin: 0 auto;
}

.title-projects-section {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5rem;
}

.single-project {
    margin-bottom: 5rem;
    height: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 0;
    width: 60%;

}

.project-image {
    transition: box-shadow .1s;
    border-radius: 0.25rem;
    width: 60%;
    position: absolute;
    right: 0;
    object-fit: contain;
}

.project-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    z-index: 1;
    opacity: 0.85;
}

.title-single-project {
    font-size: 30px;
    font-weight: 700;
}

.project-description {
    background-color: #0c4489;
    border-radius: 1.25rem;
    width: 80%;
    opacity: 0.9;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
}

.skills-applied {
    list-style: none;
    display: flex;
    font-size: 0.9rem;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.skills-applied li {
    color: #e4edf1;
    list-style: none;
    background-color: #868282;
    font-weight: 700;
    padding: 0.5rem;
    opacity: 0.9;
    border-radius: 0.25rem;

}

.page-info {
    display: flex;
    width: 60%;
    margin-top: 0.75rem;
    justify-content: flex-end;
    gap: 1.25rem;
    padding-right: 2rem;
}

.icon-info {
    width: 2.5rem;
    height: 3rem;

}

.icon-info:hover {
    scale: 1.25;
    color: #0c4489
}

@media (max-width: 1024px) {
    #projects {
        width: 100%;
        padding: 3rem 3rem;
    }

    .single-project {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        border: 1px solid #5c5a5a;
        border-radius: 0.5rem;
    }

    .info-column {
        position: static;
        align-items: center;
        margin-top: 1rem;
        gap: 0.7rem;
        width: 90%;
    }

    .project-image {
        position: static;
        height: auto;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .project-decription {
        width: 100%;
        background-color: inherit;
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 1rem;
    }

    .skills-applied {
        justify-content: center;
        font-size: 1rem;
    }

    .page-info {
        justify-content: center;
        width: auto;
        padding-right: 0;
    }

    .title-projects-section {
        font-size: 2rem;
    }

    .title-single-project {
        font-size: 1.5rem;
    }

}


@media (max-width: 425px) {
    #projects {
        padding: 1rem 1rem;
    }

    .info-column {
        width: 100%;
    }
}

.other-projects-box {
    width: 100%;
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    flex: 1 1 auto;

}

.other-projects-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    padding: 1rem;
    align-items: center;
    border: 2px solid #868282;
    border-radius: 0.5rem;
    height: 520px;
    width: 500px;
}

.other-projects-card p {
    flex: 1;
}

.skills-applied-min {
    list-style: none;
    display: flex;
    font-size: 0.9rem;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;

}

.skills-applied-min li {
    color: #e4edf1;
    list-style: none;
    background-color: #868282;
    font-weight: 700;
    padding: 0.5rem;
    opacity: 0.9;
    border-radius: 0.25rem;
}

.title-other-project {
    flex: 1;
    font-size: 1.4rem;
    padding-top: 10px;
}

.links-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex: 1;
}