* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #e4edf1 !important;
    font-style: 'Lora', serif !important;
}

a {
    text-decoration: none;
}