* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');


body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
}