* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');


body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
contenedor body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #202124;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

a {
    text-decoration: none;
}